.background_sobrenosotros {
  background-image: url("../../img/background_SobreNosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.title_weight {
  font-weight: 250;
}
.container_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10% 0;

  .card {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 270px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;

    p {
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(118, 54, 54);
      font-style: italic;
      font-size: 0.9rem;
      font-weight: 250;
    }
    @media (min-width:1024px){
        p{
            font-size: large;
        }
    }
  }
  @media (min-width: 576px) {
    .card {
      height: 110px;
    }
  }
  @media (min-width: 1024px) {
    .card {
      width: 30%;
      height: 22rem;
    }
    
  }
}
@media (min-width: 1024px) {
  .container_cards {
    display: flex;
    flex-direction: row;
    margin: 10% 0;
  }
  .margin_container {
    margin: 5% 5%;
  }
}
